/* Universal Styles */

body {
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  color: white;
}

/* Header */

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 69px;
  position: fixed;
  z-index: 1;
  top: 0px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  background-color: black;
}

.logo {
  display: flex;
  padding-left: 10px;
}

.logo img {
  width: auto;
  height: 50px;
}

header nav {
  display: flex;
  padding-right: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

header a {
  color: white;
  text-decoration: underline;
}

/* Content */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 69px;
}

/* Hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 700px;
  background-image: url(../images/img-mission-background.jpg);
}

.mission {
  flex-grow: 1;
  background-color: black;
}

/* Products */

.products {
  padding-top: 70px;
  width: 1000px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  padding: 5px;
}

.item img {
  display: block;
  width: 300px;
  height: 200px;
  margin: 10px;
}

.item span {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

/* Locations */

.locations {
  margin-top: 70px;
  height: 500px;
  width: 1200px;
  background-image: url(../images/img-locations-background.jpg);
  padding-top: 70px;
}

.addresses {
  display: flex;
  align-items: center;
  justify-content: center;
}

.address {
  display block;
  width: 300px;
  margin: 15px 20px;
  background-color: black;
  opacity: 1;
  padding: 20px;
}
